/* Add CSS Styling */

.odd-number {
    background-color: hsl(0, 100%, 75%);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#number-2 {
color: hsl(224, 70%, 50%);
font-size: 36px;
}

.adjust-size {
    font-size: 24px;    
}

#number-4{
    background-color: hsl(138, 100%, 70%);
    font-weight: bold;
}